*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    background-color: black;
}

/* COMMON */
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* HEADER */
.header-nav{
    display: flex;
    justify-content: flex-end;
    height: 20px;
    color: white;
    font-size: .8em;
    /* margin-top: .3em; */
}

.speaker{
    background-color: rgba(232, 230, 237, .4);
    padding: .2em .4em;
    border-radius: 5px;
}

.arrow{
    background-color: rgba(232, 230, 237, .4);
    padding: .2em .4em;
    border-radius: 5px; 
    margin: 0 .2em;
}

/* MAIN */
main{
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.user{
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 125px;
    margin: .4em .2em;
    background-image: url("https://picsum.photos/246/146");
    background-position: center;
}

.user-name{
    height: 20px;
    color: white;
    background-color: rgba(000, 000, 000, .3)
}

.user-name span{
    font-size: .7em;
}

/* FOOTER */
footer{
    height: 100px;
    background-color: #222222;
}